.pagination {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    &__item {
        margin-right: 5px;

        &::before {
            content: none;
        }

        &:last-child {
            margin-right: 0;
        }

        &_active {
            .pagination__link {
                background-color: invert($main-color);
                color: $main-color;
                cursor: auto;
            }
        }
    }
}