.slider {
    &__slides {
        $border-width: 7px;
        overflow: hidden;
        margin-bottom: 40px;
        width: 300px;
        height: 164px + $border-width * 2;
        border: $border-width solid invert($main-color);
        background-color: lighten($main-color, 97%);
    }

    &__link {
        display: block;
        text-decoration: none;
        transition: opacity $transition-delay;

        &:focus,
        &:hover {
            outline: none;
            opacity: .8;
        }
    }

    &__slide {
        display: block;
        width: 286px;
        height: 164px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}