<section class="index-section index-section_left">
    <h2 class="index-section__title">Контактная&nbsp;информация</h2>

    <div class="contacts">
        <div class="contacts__information">
            <p>{{ company.title }}<br> Адрес: {{ company.address }}<br> Телефон: {{ company.phone }}</p>
            <p>Время работы:<br> пн — пт: с 10:00 до 22:00<br> сб — вс: с 10:00 до 19:00</p>
        </div>

        <div class="contacts__buttons">
            <a class="button" href="javascript:void(0);">Как проехать</a>
            <a class="button" href="javascript:void(0);">Обратная связь</a>
        </div>
    </div>
</section>